.dialog-box{
  background: #37474F;
  width: 55%;
  height: 65%;
  form{
    md-toolbar{
      .md-toolbar-tools{
        background-color: #00E676;
        .title{
          font-size: 25px;
          font-weight: 500;
        }
        .close{
          border: none;
          border-radius: 3px;
          outline: none;
          color: white;
          background: transparent;
          transition: color .2s ease-in-out;
          font-size: 40px;
        }
        .close:hover{
          color: #00B0FF;
          transition: color .2s ease-in-out;
        }
      }

    }
    md-dialog-content{

      .md-dialog-content{
        text-align: center;
        .question{
          color: white;
        }
        .select{
          margin: 20px 5px;
          border: 1px solid #00b0ff;
          height: 32px;
          color: gray;
        }
        span{
          color: white;
        }
        .input{
          width: 55%;
          border: 1px solid lightgray;
          border-radius: 3px;
          padding: 5px;
          margin: 20px 5px;
        }
      }
    }
    md-dialog-actions{
      .submit{
        background: #00B0FF;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        outline: none;
        color: white;
      }
      .submit:hover{
        background: #00E676;
        transition: background .2s ease-in-out;
      }
    }
  }
}
