html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}
.container{
  height: 100%;
  width: 100%;
  min-height: 285px;
  position: relative;

  .home-page{
    width: 100%;
    height: 100%;
    position: relative;
    top: 60px;
    .background-image{
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    .slogan{
      height: 50%;
      width: 100%;
      position: absolute;
      top: 30%;
      left: 0px;
      text-align: center;
      color: white;
      font-size: 29px;
      font-weight: bold;
      .sign-up{
        background-color: #00E676;
        font-size: 15px;
        color: white;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 30px;
        transition: all .2s ease-in-out;
        font-weight: normal;
      }
      .input{
        font-size: 18px;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: normal;
        opacity: .9;
        background-color: black;
      }
      .log-in{
        font-size: 14px;
        border: none;
        border-radius: 30px;
        padding: 5px 10px;
        font-weight: normal;
        transition: opacity .2s ease-in-out;
        outline: none;
        background-color: #00B0FF;
        color: white;
        opacity: .9;
      }
      .log-in:hover{
        opacity: .6;
        transition: opacity .2s ease-in-out;
      }
      span{
        font-size: 18px;
        font-weight: normal;
      }
      .sign-up:hover{
        background-color: #00B0FF;
        transition: all .2s ease-in-out;
      }
    }
  }
}
