@import url(http://weloveiconfonts.com/api/?family=fontawesome);
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}
.container{
  height: 100%;
  width: 100%;
  min-height: 285px;
  position: relative;
  .navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #37474F;
    .hamburger{
      outline: 0;
      display: none;
    }
    div{
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: white;
        text-decoration: none;
        transition: color .2s ease-in-out;
        margin: 15px;
        font-size: 15px;
        .navbar-button{
          background-color: #00B0FF;
          border: none;
          border-radius: 25px;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          outline: none;
        }
        .navbar-button:hover{
          background-color: #00E676;
          transition: all .2s ease-in-out;
        }
        .log-in-navbar{
          background-color: transparent;
          padding: 0px;
        }
        .log-in-navbar:hover{
          background-color: transparent;
          color: #00B0FF;
        }
      }
    }
    a:hover{
      color: #00B0FF;
      transition: color .2s ease-in-out;
      // text-decoration: underline;
    }
  }
}
