@import url(http://weloveiconfonts.com/api/?family=fontawesome);
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}

.container{
  .navbar{
    height: 60px;
    div{
      a{
        margin: 7px;
        // font-size: 13px;
      }
      .navbar-button{
        margin: 7px;
        padding: 1px 6px;
      }
    }
  }

  .home-page{
    top: 60px;
    .slogan{
      font-size: 21px;
      .sign-up{
        padding: 5px 15px;
      }
    }
  }

  .form-box{
    .options{
      width: 80%;
    }
    .addAccountForm{
      width: 80%;
    }
    .loginForm{
      width: 80%;
    }
  }


  .month{
    height: 85px;
    top: 60px;
    .select-form{
      height: 40px;
      .date-selectors{
        .selector{
          height: 35px;
          font-size: 25px;
          width: 150px;
        }
      }
    }
    .day-of-week{
      height: 45px;
    }
  }
  .calendar-container{
    top: 145px;
    .days{
      height: 16.66%;
      .num-box{
        .plus-button{
          font-size: 30px;
        }
        .minus-button{
          font-size: 30px;
        }
      }
      #num-box:hover{
        .plus-button{
          visibility: hidden;
        }
        .minus-button{
          visibility: hidden;
        }
      }
    }
  }
  .contact-header{
    top: 60px;
    height: 60px;
    .calendar-button-box{
      .calendar-button{
        font-size: 13px;
      }
      .calendar-button:hover{
      }
    }
    .greeting{
      font-size: 15px;
    }
  }
  .profile-content{
    top: 160px;
    div{
      .account-setup{
        width: 80px;
      }
      .account-setup:hover{
      }
      .input-box{
        margin: 10px;
        .cancel-box{
          margin-bottom: 10px;
          .cancel{
          }
          .cancel:hover{
          }
        }
        div{
          width: 80%;
          padding: 10px;;
          form{
            width: 90%;
            .input{
              width: 90%;
            }
            .account_type{
            }
            .button{
            }
            .button:hover{
            }
          }
        }
      }
    }
    .account_display_box{
      margin: 10px auto;
      .accounts-title{
      }
      .account_display{
        width: 80%;
        margin: 10px;
        .edit-box{
          width: 80px;
          .edit{
            font-size: 12px;
          }
          .edit:hover{
          }
          .delete{
            font-size: 12px;
          }
          .delete:hover{
          }
        }
        span{
          margin: 10px;
        }
      }
      .example-card{
        width: 80%;
        margin: 10px;
      }
    }
  }
}
