@import 'layout';
@import 'home';
@import 'login';
@import 'calendar';
@import 'profile';
@import 'day-view';
@import '../../node_modules/angular-material/angular-material.scss';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 600px){
  @import 'width600';
}

@media screen and (max-width: 450px){
  @import 'width450';
}

@media screen and (max-height: 450px){
  @import 'height450';
}

.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
.dialogdemoBasicUsage button {
  width: 200px; }
.dialogdemoBasicUsage div#status {
  color: #c60008; }
.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }
