<md-dialog aria-label="Day View"  class="dialog-box" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 class="modal-date">{{ date }}</h1>
        <span flex></span>
        <button class="close fontawesome-remove" ng-click="hide()"></button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="content-box">
          <span class="beginning_balance">Beginning Balance: {{ begin }}</span><br />
          <span class="ending_balance">Ending Balance: {{ end }}</span>
        </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <button class="plus-button button" ng-click="showIncome($event)">Income</button>
      <button class="minus-button button" ng-click="showExpense($event)">Expense</button>
    </md-dialog-actions>
  </form>
</md-dialog>
