<md-dialog aria-label="Day View"  class="dialog-box" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1 class="modal-date">{{ date }}</h1>
        <span flex></span>
        <button class="close fontawesome-remove" ng-click="hide()"></button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="content-box">

        </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <button class="plus-button button fontawesome-plus-sign " ng-click="showIncome($event)"></button>
      <button class="minus-button button fontawesome-minus-sign" ng-click="showExpense($event)"></button>
    </md-dialog-actions>
  </form>
</md-dialog>
