<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Day View</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="content-box">
          <span>Beginning Balance: </span>
          <ul>
            Transactions
            <ul>
              Incomes
            </ul>
            <ul>
              Expenses
            </ul>
          </ul>
          <span>Ending Balance: </span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions class="md-dialog-actions" layout="row">
      <span flex></span>
      <md-button ng-click="answer('useful')">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
