<div class="home-page">
  <img class="background-image" src="./images/bag-and-hands.jpg" />
  <div class="slogan">
    Dream Big and Plan for a Better FUTURE!<br>
    Your Dreams are Achievable!<br>
    <br />
    <input class="username_input input" name="username" type="text" placeholder="Username" ng-model="user.username"/><br />
    <input class="password_input input" name="password" type="password" placeholder="Password" ng-model="user.password" /><br />
    <button class="log-in">Log-in</button><br />
    <span>Or</span><br />
    <a href="/#/sign-up"><button class="sign-up">Sign Up Free</button><br /></a>
  </div>
</div>
