<nav class="navbar">
  <button class="hamburger hamburger--elastic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="links">
    <a href="/#/home">Home</a>
    <a href="/#/calendar">Calendar</a>
    <a href="/#/profile">Account/Profile</a>
    <a href="">Contact/FAQ</a>
    <a href="/#/sign-up|log-in"><button class="login fontawesome-unlock log-in-navbar navbar-button"> Log In</button></a>
    <a href="/#/sign-up|log-in" ng-click="vm.showCard(vm.card)"><button class="sign-up-navbar navbar-button">Sign Up</button></a>
  </div>
</nav>

<div class="wrapper" ui-view></div>
