<div class="contact-header">
  <div class="calendar-button-box">
    <a class="calendar-button" href="/#/calendar">See Forecast &#8594;</a>
  </div>
  <!-- <img src="./images/default-contact.png" /> -->
  <h2 class="greeting">Hey, {{ vm.userInfo.firstname }} {{ vm.userInfo.lastname }}</h2>
</div>
<div class="profile-content">
  <div>
      <button class="account-setup" ng-click="vm.showAccountForm()">Set-up Account Info</button><br />
      <div class="input-box" ng-show="vm.accountForm">
        <div class="cancel-box">
          <button class="cancel button" ng-click="vm.hideAccountForm()" ng-show="vm.accountForm">Cancel</button>
        </div>
        <div class="account_form">
          <form ng-submit="vm.addAccount(vm.account)">
            <h3>Account Info Form</h3>
            <input class="bank_name input" placeholder="Bank Name" ng-model="vm.account.bank" required/>
            <select name="account_type input" class="account_type" ng-model="vm.account.account_type" required>
              <option value="" hidden>
                Account Type
              </option>
              <option value="Checking">
                Checking
              </option>
              <option value="Savings">
                Savings
              </option>
            </select>
            <input class="account_title input" placeholder="Account Title" ng-model="vm.account.account_title" required/>
            <input class="account_balance input" placeholder="Current Balance" ng-model="vm.account.account_balance" required/>
            <button class="submit button">Submit</button>
            <!-- <button class="cancel button" ng-click="vm.hideAccountForm()">Cancel</button> -->
          </form>
        </div>
      </div>
  </div>
  <div class="account_display_box">
    <h1 class="accounts-title">All Accounts</h1>
    <div class="account_display" ng-repeat="account in vm.accounts | limitTo: 5: 0">
      <div class="edit-box">
        <button class="edit button fontawesome-pencil"></button>
        <button class="delete button fontawesome-trash" ng-click="vm.deleteAccount(account.id)"></button>
      </div>
      <h3>{{ account.account_title || 'Account Name' }}</h3>
      <span>Bank: {{ account.bank || 'Bank name' }}</span><br />
      <span>Account Type: {{ account.account_type || 'Account Type' }}</span><br />
      <span class="balance">{{ account.account_balance || 'Account Balance'}}</span>
      <!-- <span>{{ account.created_at || Date Entered }}</span> -->
    </div>
  </div>

</div>
