<!-- <div class="title-background">
  <h1 class="title">Sign Up</h1>
</div> -->
<div class="form-box">
  <!-- <div class="options"><span>Sign Up</span> | <span>Log In</span></div> -->
  <form id="addAccountForm" class="addAccountForm" ng-submit="vm.createUser(user)">
    <span>Sign Up</span>
    <h2>
      Forecast Your Spending and be Prepared for the Future.
    </h2>
    <input type="text" class="firstNameInput add_input" placeholder="First Name" ng-model="user.first_name" required><br />
    <input type="text" class="lastNameInput add_input" placeholder="Last Name" ng-model="user.last_name" required><br />
    <input type="text" class="usernameInput add_input" placeholder="Username" name="username" ng-model="user.username" required><br />
    <input type="email" class="emailInput add_input" placeholder="Email" ng-model="user.email" required><br />
    <input type="password" class="passwordInput add_input" placeholder="Password" ng-model="user.password" required><br />
    <button class="addAccountSubmit">Sign Up</button>
  </form>
  <form id="addAccountForm" class="loginForm" ng-submit="vm.createUser(user)">
    <span>Log In</span>
    <h2>
      Forecast Your Spending and be Prepared for the Future.
    </h2>
    <div>
      Sign in to see your data.
    </div>
    <input type="text" class="usernameInput login_input" placeholder="Username" name="username" ng-model="user.username" required><br />
    <input type="password" class="passwordInput login_input" placeholder="Password" ng-model="user.password" required><br />
    <button class="log-in">Log-in</button>
  </form>
</div>
